/* [next]/internal/font/google/geist_e531dabc.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwYGFWNOITddY4-s.b7d310ad.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_e531dabc-module__QGiZLq__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_e531dabc-module__QGiZLq__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}


/* [next]/internal/font/google/geist_mono_68a01160.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrMdmhHkjkotbA-s.cb6bbcb1.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_68a01160-module__YLcDdW__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_68a01160-module__YLcDdW__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}


/* [project]/src/app/user/globals.css [app-client] (css) */
* {
  font-family: Roboto Slab, serif;
}

body {
  margin-top: 100px;
  font-family: Roboto Slab, serif;
}

header {
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: 80px;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

header i {
  font-size: 20px;
}

.icons a {
  color: #000;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  width: 1290px;
  margin: 0 auto;
  display: flex;
}

.logo, .logo img {
  height: 75px;
}

nav {
  gap: 30px;
  display: flex;
}

nav a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.dropdown i {
  margin-left: 5px;
}

.menu-wrapper {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.category-list {
  opacity: 0;
  pointer-events: none;
  background-color: #ffffffe6;
  border-radius: 20px;
  width: 1290px;
  padding: 10px;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  display: flex;
  position: absolute;
  left: -500px;
  transform: translateY(-10px);
}

.menu-wrapper:hover .category-list, .category-list:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.category-itemm {
  width: 210px;
  padding: 0 20px;
}

.category-itemm h2 {
  padding: 20px 0;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.category-itemm ul {
  padding: 0;
  list-style: none;
}

.category-itemm ul li {
  color: #333;
  padding: 8px 0;
  font-size: 16px;
}

.icons {
  align-items: center;
  gap: 20px;
  display: flex;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer button {
  background-color: #357e38;
}

.footer-container {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-logo {
  text-align: center;
  max-width: 250px;
}

.footer-logo img {
  width: 150px;
}

.footer-slogan {
  color: #555;
  margin-top: 10px;
  font-size: 14px;
}

.footer-links {
  gap: 40px;
  display: flex;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.footer-column ul {
  padding: 0;
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #868686;
  text-decoration: none;
  transition: all .3s;
}

.footer-column ul li a:hover {
  color: #2d6a4f;
}

.footer-newsletter {
  max-width: 450px;
}

.footer-newsletter h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-newsletter p {
  color: #004c59;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-newsletter form {
  display: flex;
}

.footer-newsletter input {
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  flex: 1;
  padding: 15px;
}

.footer-newsletter button {
  color: #fff;
  cursor: pointer;
  background: #357e38;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 8px 15px;
}

.footer-newsletter button:hover {
  background: #245726;
}

.footer-address {
  color: #555;
  margin-top: 15px;
  font-size: 14px;
}

.footer-payment {
  gap: 10px;
  margin-top: 15px;
  display: flex;
}

.footer-payment img {
  height: 35px;
}

.footer-bottom {
  color: #777;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  display: flex;
}


/*# sourceMappingURL=%5Broot-of-the-server%5D__7144b983._.css.map*/