/* [project]/src/app/user/about/about.css [app-client] (css) */
.bannerTitle {
  text-align: center;
  width: 100%;
  position: relative;
}

.bannerTitle img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 800px;
}

.title {
  color: #fff;
  text-align: center;
  background-color: #8d5524;
  width: 100%;
  padding: 20px 0;
  bottom: 0;
  left: 0;
}

.title h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}

.main {
  width: 1290px;
}

.brandMeaning {
  text-align: justify;
}

.brandMeaning h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold;
}

.brandMeaning p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 2;
}

.brandMeaning p strong {
  color: #8d5524;
  font-weight: bold;
}

.brandMeaning img {
  border-radius: 10px;
  max-width: 100%;
  margin: 40px auto;
  display: block;
}

.commitmentAction {
  text-align: justify;
  max-width: 80%;
  margin: 60px auto;
  line-height: 1.8;
}

.commitmentAction h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold;
}

.commitmentAction p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.commitmentAction .highlightText {
  text-align: center;
  color: #8d5524;
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.mission img {
  border-radius: 10px;
  max-width: 100%;
  margin: 40px auto;
  display: block;
}

.brandValue {
  flex-wrap: wrap;
  gap: 40px;
  display: flex;
}

.brandValueLeft {
  flex: 1;
  order: 1;
}

.brandValueRight {
  flex: 1;
  order: 2;
}

.brandValueBottom {
  order: 3;
  width: 100%;
}

.brandValue h2 {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

.brandValue p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.brandValue img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 8px 16px #0000001a;
}

.sectionTitle {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.textCenter {
  text-align: center;
}

.textBold {
  font-weight: bold;
}

@media (width <= 768px) {
  .title h1 {
    font-size: 2rem;
  }

  .main {
    max-width: 90%;
    padding: 30px 10px;
  }

  .brandMeaning h2, .commitmentAction h2, .brandValue h2 {
    font-size: 2rem;
  }

  .brandMeaning p, .commitmentAction p, .brandValue p {
    font-size: 1rem;
  }

  .brandMeaning img, .brandValue img {
    max-width: 90%;
  }

  .commitmentAction .highlightText {
    font-size: 1.2rem;
  }

  .brandValue {
    text-align: center;
    flex-direction: column;
  }

  .brandValue h2 {
    text-align: center;
  }
}

@media (width <= 480px) {
  .title h1 {
    font-size: 1.5rem;
  }

  .main {
    max-width: 95%;
  }

  .brandMeaning h2, .commitmentAction h2, .brandValue h2 {
    font-size: 1.5rem;
  }

  .brandMeaning p, .commitmentAction p, .brandValue p {
    font-size: .9rem;
  }

  .commitmentAction .highlightText {
    font-size: 1rem;
  }
}


/*# sourceMappingURL=src_app_user_about_about_a8f939a2.css.map*/