/* [project]/src/app/user/cart/Cart.module.css [app-client] (css) */
.Cart-module__YIknGG__cart-container {
  width: 1290px;
  margin: 0 auto;
  padding: 30px;
}

.Cart-module__YIknGG__progress-container {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 35px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

.Cart-module__YIknGG__progress-label {
  margin-right: 10px;
}

.Cart-module__YIknGG__step {
  color: #4a7c59;
  background-color: #dceadf;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  font-weight: bold;
  display: flex;
}

.Cart-module__YIknGG__step.Cart-module__YIknGG__active {
  color: #fff;
  background-color: #4a7c59;
}

.Cart-module__YIknGG__cart-content {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.Cart-module__YIknGG__cart-left {
  width: 70%;
}

.Cart-module__YIknGG__cart-table {
  border-collapse: collapse;
  width: 100%;
}

.Cart-module__YIknGG__cart-row {
  font-size: 18px;
}

.Cart-module__YIknGG__cart-header {
  text-align: left;
  padding-bottom: 10px;
  font-weight: 700;
}

.Cart-module__YIknGG__cart-cell {
  border-bottom: 1px solid #ddd;
  padding: 15px 2px;
}

.Cart-module__YIknGG__product {
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
  display: flex;
}

.Cart-module__YIknGG__product img {
  border-radius: 5px;
  width: 60px;
  height: 60px;
}

.Cart-module__YIknGG__quantity-controls {
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.Cart-module__YIknGG__quantity-btn {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
}

.Cart-module__YIknGG__cart-right {
  background: #fff;
  border-left: 1px solid #000;
  width: 28%;
  margin-left: 10px;
  padding: 20px;
}

.Cart-module__YIknGG__discount {
  justify-content: space-between;
  margin-bottom: 15px;
  display: flex;
}

.Cart-module__YIknGG__discount-input {
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 220px;
  padding: 10px;
}

.Cart-module__YIknGG__discount-btn {
  color: #fff;
  background-color: #357e38;
  border: none;
  border-radius: 12px;
  width: 100px;
  height: 50px;
  font-weight: 600;
}

.Cart-module__YIknGG__summary {
  color: #333;
  background-color: #fefefe;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px 25px;
  font-size: 16px;
  box-shadow: 0 4px 12px #0000000d;
}

.Cart-module__YIknGG__summary-item {
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 500;
  display: flex;
}

.Cart-module__YIknGG__summary-item span, .Cart-module__YIknGG__summary-total span {
  text-align: right;
  min-width: 120px;
  display: inline-block;
}

.Cart-module__YIknGG__summary-total {
  border-top: 1px dashed #ccc;
  margin-top: 18px;
  padding-top: 12px;
}

.Cart-module__YIknGG__total2 {
  color: #111;
  font-size: 18px;
  font-weight: 600;
}

.Cart-module__YIknGG__total2 span {
  color: #e60023;
}

.Cart-module__YIknGG__checkout {
  color: #fff;
  background: #357e38;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.Cart-module__YIknGG__continue-shopping {
  color: #4a7c59;
  cursor: pointer;
  background: none;
  border: 1px solid #4a7c59;
  border-radius: 5px;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  display: flex;
}


/*# sourceMappingURL=src_app_user_cart_Cart_module_b8839d27.css.map*/