.containerCategory {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  max-width: 1200px;
  margin-top: 100px;
  margin-left: 280px;
}

.formTableCategory {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nameTableCategory {
  text-align: center;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 15px;
}
.span{
display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}


.formBtnAddNewCategory {
  margin-left: 15px;
}

.btnAddNewCategory {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #357E38;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnAddNewCategory a {
  color: white;
  text-decoration: none;
}

.categoryTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 12px;
}

.categoryTable th, .categoryTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.categoryTable th {
  background-color: #357E38;
  color: white;
}

.categoryTable td {
  font-size: 16px;
  color: #333;
}

.categoryTableTdLast {
  text-align: center;
}

.btnEdit, .btnRemove {
  padding: 6px 12px;
  font-size: 14px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btnEdit {
  background-color: #357E38;
  color: white;
}

.btnRemove {
  background-color: #E74C3C;
  color: white;
}

.btnSave, .btnCancel {
  padding: 6px 12px;
  font-size: 14px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btnSave {
  background-color: #357E38;
  color: white;
}

.btnCancel {
  background-color: #95a5a6;
  color: white;
}

.editInput {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
